# AddressIQ API
ADDRESSIQ_API_URL=http://localhost:4000
ADDRESSIQ_INGEST_URL=http://localhost:4001
ADDRESSIQ_API_KEY=fsp_test_hE2DIQASZmuWS7cU9l1MyhZcmmXG1Rfw

# Webhook signature verification
WEBHOOK_SECRET=66850035a4e0866156e4bd95e7468c4a455afdfe183f17d4fb53a50d21a0980d

# Server
PORT=3333
